
$activeColor: #812729;

$bderColor: #f3f3f3;

$textColor: #1e1e1e;
$lightTextColor: #5f5f5f;

$mainTheme: #986218;
$mainColor: #b3000e;
$mainBgColor: #fdfaf3;
$tabMainColor: #904042;

$greyBd: rgb(181, 181, 181);
$moduleMargin: 20px;

.max-wid1400{
  max-width: 1400px;
  margin: 0 auto;
}

.page-inner{
  width: 1500px;
  margin: 0 auto;
}

.route-wrap{
  width: 1400px;
  margin: 70px auto;
  padding: 50px 60px;
  background-color: #fff;
  box-shadow: #e9dcc9 15px 15px 51px;
}

.fs16{
  font-size: 16px;
}

ul.list{  
  li{
    position: relative;
    line-height: 30px;
    >a{
      width: 100%;
      display: flex;
      font-size: 16px;
      &.v{
        flex-direction: column;
        align-items: flex-start;
      }
      &.h{
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .des{
      width: 65%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
  }
}



@media screen and(max-width: 1366px) {
  .page-inner{
    width: 1100px;
  }
  .route-wrap{
    width: 1200px;
  }
}

@media screen and(max-width: 600px) {
  .page-inner{
    width: 90%;
  }
  .route-wrap{
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0;
  }
}


//多行裁剪文本样式
.ellipsis {
  position: relative;
  width: 100%;
  max-height: 55px; /* h*n */
  line-height: 18px; /* h */
  overflow: hidden;
}
.ellipsis-container {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* n */
  font-size: 80px; /* w */
  color: transparent;
}
.ellipsis-content {
  color: #000;
  display: inline;
  vertical-align: top;
  font-size: 16px; /* f */
}
.ellipsis-ghost {
  position:absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
}
.ellipsis-ghost:before {
  content: "";
  display: block;
  float: right;
  width: 50%;
  height: 100%;
}
.ellipsis-placeholder {
  content: "";
  display: block;
  float: right;
  width: 50%;
  height: 55px; /* h*n */
}
.ellipsis-more {
  position: relative;
  float: right;
  font-size: 16px; /* f */
  width: 50px; /* w */
  height: 18px; /* h */
  margin-top: -18px; /* -h */
}